<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!--
    <link rel="stylesheet" href="./css/w3schools.css" /> --}}
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/pin_styles.css">
    <link rel="stylesheet" href="../../css/modal_styles.css">
    <link rel="stylesheet" href="../../css/final_board.css">
    <title>Document</title>
</head>

<body>
    <nav class="nav-bar">
        <ul class="nav-links">
            <li><a href="/">
                    <h1 class="header-h1">Beauty Board</h1>
                </a></li>
            <li><a href="about-me" class="about">About</a></li>
            <li><a href="reviews" class="reviews">Reviews</a></li>
            <li><a href="profile" class="beauty-board">Your Beauty Board</a></li>
            <!-- Conditionally render login or logout links -->
            {{#if logged_in}}
            <li id="logout"><a href="logout">Logout</a></li>
            {{else}}
            <li id="login"><a href="login" class="login">Login</a></li>
            {{/if}}

        </ul>
    </nav>

    <main class="container container-fluid mt-5">
        <!-- Render the sub layout -->
        {{{ body }}}
    </main>

    </div>
    <footer>
        <div class="footer-box">
            <ul class="footer-links">
                <li><a href="mailto:mastroalexis@gmail.com" class="Contact">Contact</a></li>
                <li><a href="#about" class="Github">About</a></li>
                <li><a href="index.html">Beauty Board</a></li>
                <li><a href="#" class="Linkedin">FAQ's</a></li>
                <li><a href="#" class="Instagram">Social</a></li>
            </ul>
        </div>
    </footer>

</body>
<script src="../../js/final_board.js"></script>

</html>