<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Beauty Board - Keep track of your beauty journey here!">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../../public/css/final_board.css">
  <link rel="stylesheet" href="../css/style.css">
  <title>Beauty Board</title>
</head>

<body>
  <header id="header-section">
    <div class="background-image">
      <nav class="nav-bar content-container">
        <ul class="nav-links">
          <li><a href="/">
              <h1 class="header-h1">Beauty Board</h1>
            </a></li>
          <li><a href="/about" class="about">About</a></li>
          <li><a href="/reviews" class="reviews">Reviews</a></li>
          <li><a href="/profile" class="beauty-board">Your Beauty Board</a></li>
          <!-- Conditionally render login or logout links -->
          {{#if logged_in}}
          <li><a href="logout" id="logout">Logout</a></li>
          {{else}}
          <li id="login"><a href="/login" class="login">Login</a></li>
          {{/if}}
        </ul>
      </nav>
    </div>
  </header>
  <h1 class="homepage-reviews-h1">Latest Reviews</h1>

  <main class="content-container">
    <!-- Render the sub layout -->
    {{{ body }}}
  </main>
  </div>

  <h1 class="reviews-h1">Featured Beauty Board</h1>
  <div class="container">
    <div id="see-all-reviews">
      <!-- Left side review content -->
      <div class="see-all-reviews-text">
        <a href="#reviews">
          <p class="reviews-text">Alyssa Wolf - model, stylist, &amp; human rights activist, shares her beauty routine and her go-to masks when things get heavy. 
          </p>
        </a>
      </div>
      <!-- Right side review content -->
      <div class="see-all-reviews-feature-img">
        <div class="reviews-feature-img">
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="footer-box">
      <ul class="footer-links">
        <li><a href="#" class="Contact">Contact</a></li>
        <li><a href="/about" class="about">About</a></li>
        <li><a href="/profile">Beauty Board</a></li>
      </ul>
    </div>
  </footer>
  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="/js/about.js"></script>
</body>

</html>