<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/w3schools.css" />
  <link rel="stylesheet" href="../../public/css/final_board.css">
  <link rel="stylesheet" href="../css/style.css">
  <title>Document</title>
</head>

<body>
  <header id="header-section">
    <div class="background-image">
      <nav class="nav-bar">
        <ul class="nav-links">
          <li><a href="/">
              <h1 class="header-h1">Beauty Board</h1>
            </a></li>
          <li><a href="about-me" class="about">About</a></li>
          <li><a href="reviews" class="reviews">Reviews</a></li>
          <li><a href="profile" class="beauty-board">Your Beauty Board</a></li>
          <!-- Conditionally render login or logout links -->
          {{#if logged_in}}
          <button id="logout">Logout</button>
          {{else}}
          <button class="login" id="login">Login</button>
          {{/if}}

        </ul>
      </nav>
    </div>
  </header>
  <h1 class="homepage-reviews-h1">Latest Reviews</h1>

  <main class="container container-fluid mt-5">
    <!-- Render the sub layout -->
    {{{ body }}}
  </main>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}


  <h1 class="reviews-h1">See All Reviews</h1>
  <div class="container">
    <div id="see-all-reviews">
      <!-- Left side review content -->
      <div class="see-all-reviews-text">
        <a href="#reviews">
          <p class="reviews-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel cupiditate dolore
            quo
            illum aliquam magni consequatur enim perferendis earum asperiores id quasi vitae ipsa dignissimos
            saepe,
            sapiente deleniti, reiciendis modi!
          </p>
        </a>
      </div>
      <!-- Right side review content -->
      <div class="see-all-reviews-feature-img">
        <div class="reviews-feature-img">
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="footer-box">
      <ul class="footer-links">
        <li><a href="mailto:mastroalexis@gmail.com" class="Contact">Contact</a></li>
        <li><a href="#about" class="Github">About</a></li>
        <li><a href="index.html">Beauty Board</a></li>
        <li><a href="#" class="Linkedin">FAQ's</a></li>
        <li><a href="#" class="Instagram">Social</a></li>
      </ul>
    </div>
  </footer>
</body>

</html>