<div class='w3-container'>
  <h4 class='w3-center'>Sign up or log in to to build your personal Beauty Board
    and see the latest reviews!</h4>
  <div class='w3-container w3-row'>
    <div class='w3-half'>
      <h2>Login</h2>

      <form class='form login-form'>
        <div class='w3-padding-small'>
          <label for='email-login'>Email:</label>
          <input class='w3-input w3-border' type='text' id='email-login' />
        </div>
        <div class='w3-padding-small'>
          <label for='password-login'>Password:</label>
          <input
            class='w3-input w3-border'
            type='password'
            id='password-login'
          />
        </div>
        <div class='w3-padding-small log-button'>
          <button class='reviews-button w3-center' type='submit'>Login</button>
        </div>
      </form>
    </div>
    <div class='w3-half'>
      <h2>Signup</h2>

      <form class='form signup-form'>
        <div class='w3-padding-small'>
          <label for='name-signup'>First Name:</label>
          <input class='w3-input w3-border' type='text' id='fname-signup' />
        </div>
        <div class='w3-padding-small'>
          <label for='name-signup'>Last Name:</label>
          <input class='w3-input w3-border' type='text' id='lname-signup' />
        </div>
        <div class='w3-padding-small'>
          <label for='email-signup'>Email:</label>
          <input class='w3-input w3-border' type='text' id='email-signup' />
        </div>
        <div class='w3-padding-small'>
          <label for='password-signup'>Password:</label>
          <input
            class='w3-input w3-border'
            type='password'
            id='password-signup'
          />
        </div>
        <div class='w3-padding-small log-button'>
          <button class='w3-center reviews-button' type='submit'>Signup</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script src='./js/login.js'></script>