<!-- Log in section -->
<div class='content-container'>
  <h4 class='text-center'>Sign up or log in to build your personal Beauty Board
    and see all reviews!</h4>
  <div class='text-left mt-4 row'>
    <div class='col-md-6'>
      <h2>Login</h2>

      <form class='form login-form'>
        <div class='p-2'>
          <label for='email-login'>Email:</label>
          <input class='form-control' type='text' id='email-login' />
        </div>
        <div class='p-2'>
          <label for='password-login'>Password:</label>
          <input class='form-control' type='password' id='password-login' />
        </div>
        <div class='p-2 log-button text-center'>
          <button class='reviews-button' type='submit'>Login</button>
        </div>
      </form>
    </div>
    <div class='col-md-6'>
      <h2>Signup</h2>

      <form class='form signup-form'>
        <div class='p-2'>
          <label for='name-signup'>First Name:</label>
          <input class='form-control' type='text' id='fname-signup' />
        </div>
        <div class='p-2'>
          <label for='name-signup'>Last Name:</label>
          <input class='form-control' type='text' id='lname-signup' />
        </div>
        <div class='p-2'>
          <label for='email-signup'>Email:</label>
          <input class='form-control' type='text' id='email-signup' />
        </div>
        <div class='p-2'>
          <label for='password-signup'>Password:</label>
          <input class='form-control' type='password' id='password-signup' />
        </div>
        <div class='p-2 log-button'>
          <button
            class='text-center reviews-button'
            type='submit'
          >Signup</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script src='./js/login.js'></script>