<div class='row'>
  <div class='col-auto'>
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="navigation_bar">
  <div class="pint_mock_icon_container add_pin">
    <img src="../assets/add.png" alt="add_pin" class="pint_mock_icon">
  </div>
</div>

<div class="add_pin_modal">
  <div class="add_pin_container">
    <div class="side" id="left_side">
      <div class="section1">
        <div class="pint_mock_icon_container">
          <img src="../assets/ellipse.png" alt="edit" class="pint_mock_icon">
        </div>
      </div>

      <div class="section2">
        <label for="upload_img" id="upload_img_label">
          <div class="upload_img_container">
            <div id="dotted_border">
              <div class="pint_mock_icon_container">
                <img src="../assets/up-arrow.png" alt="upload_img" class="pint_mock_icon">
              </div>
              <div>Click to upload</div>
            </div>
          </div>
          <input type="file" name="upload_img" id="upload_img">
        </label>

        <div class="modals_pin">
          <div class="pin_image">
            <!-- <img src="" alt="pin_image"> -->
          </div>
        </div>
      </div>

      <div class="section3">
        <div class="save_from_site">Save From Site</div>
      </div>
    </div>

    <div class="side" id="right_side">
      <div class="section1">
        <div class="select_size">
          <select name="pin_size" id="pin_size">
            <option value="Select Size" disabled select>Select Size</option>
            <option value="small">small</option>
            <option value="medium">medium</option>
            <option value="large">large</option>
          </select>
          <div class="save_pin">Save</div>
        </div>
      </div>

      <div class="section2">
        <input placeholder="Brand" type="text" class="new_pin_input" id="pin_title">
        <input placeholder="Product Type" type="text" class="new_pin_input" id="pin_product_type">
        <input placeholder="Description" type="text" class="new_pin_input" id="pin_description">
        <input placeholder="Price" type="text" class="new_pin_input" id="pin_product_price">
        <input placeholder="Add Product Link" type="text" class="new_pin_input" id="pin_destination">
      </div>
    </div>
  </div>
</div>

{{#if reviews.length}}
<div class="pin_container"></div>
<h3>My Beauty Board:</h3>

{{#each reviews as |product|}}
<div class="pin_title">{{user.reviews.brand}}</div>
<div class="pin_modal">
  <div class="modal_head">
    <div class="save_card">Save</div>
  </div>

  <div class="modal_foot">
    <div class="destination">
      <div class="pint_mock_icon_container">
        <img src="../assets/upper-right-arrow.png" alt="destination" class="pint_mock_icon">
      </div>
      <span>{{user.reviews.destination}}</span>
    </div>

    <div class="pint_mock_icon_container">
      <img src="../assets/send.png" alt="send" class="pint_mock_icon">
    </div>

    <div class="pint_mock_icon_container">
      <img src="../assets/ellipse.png" alt="edit" class="pint_mock_icon">
    </div>
  </div>
</div>

<div class="pin_image"> Hello
</div>

{{/each}}

{{/if}}


<script src='./js/profile.js'></script>
<script src="../js/final_board.js"></script>