* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
:before,
:after {
  box-sizing: border-box;
}

html {
  max-width: 100%;
  background-color: rgb(255, 254, 251);
}

#header-section {
  background-image: url(../assets/Landing-page.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.background-image {
  height: 800px;
}

#header-section img {
  width: 100%;
  height: auto;
}

.header-h1 {
  color: rgb(255, 179, 179);
  font-size: 40px;
  font-family: 'Didot';
}

a {
  text-decoration: none;
  color: black;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  font-family: 'Didot', serif;
  align-items: center;
  font-size: 17px;
}

.nav-links li {
  padding: 20px;
}

.nav-links li a:hover {
  color: white;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav .nav-links {
  display: none;
}

.homepage-reviews-h1 {
  text-align: center;
  margin: 120px 0px 0px 0px;
  font-family: 'Didot';
  font-weight: 600;
}

.content-container {
  padding: 20px;
  width: 100%;
  max-width: 1100px;
  margin: 0px auto 0px auto;
}

#homepage-reviews {
  display: flex;
  flex-wrap: wrap;
  text-align: -webkit-center;
}

.homepage-reviews-content {
  padding: 20px;
  width: 100%;
}

@media screen and (min-width: 520px) {
  .homepage-reviews-content {
    padding: 20px;
    width: 50%;
  }
  .homepage-review-text {
    min-height: 250px;
  }
}
@media screen and (min-width: 768px) {
  #homepage-reviews {
    /* flex-wrap: nowrap; */
  }

  .homepage-reviews-content {
    padding: 20px;
    width: 33.3%;
  }
  .homepage-review-text {
    min-height: 275px;
  }
}
@media screen and (min-width: 1024px) {
  #homepage-reviews {
    /* flex-wrap: nowrap; */
  }

  .homepage-reviews-content {
    padding: 20px;
    width: 25%;
  }

  .homepage-review-text {
    min-height: 300px;
  }
}

.homepage-reviews-content img {
  width: 100%;
  height: auto;
}
.homepage-review-text {
  text-align: center;
  background: lavender;
  padding: 16px;
  font-family: sans-serif;
  font-weight: 200;
}

.reviews-button {
  padding: 9px 18px;
  background-color: #bdcbf3;
  border-radius: 30px;
  border: none;
  text-decoration: none;
  width: 110px;
  white-space: nowrap;
}

.reviews-button:hover {
  background-color: rgba(189, 203, 243, 0.6);
}

button {
  border: none;
  all: unset;
  padding: 10px;
}

.reviews-h1 {
  text-align: center;
  margin: 40px;
  font-family: 'Didot';
}

#see-all-reviews {
  max-width: 100%;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container {
  margin: 20px;
  padding: 20px;
}

.see-all-reviews-text {
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  z-index: 1;
  line-height: 1;
  width: 600px;
  line-height: 25px;
}

.reviews-text {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 200;
  padding-right: 20px;
  padding-bottom: 20px;
}

.see-all-reviews-feature-img {
  margin-left: -0px;
  width: 500px;
}

.reviews-feature-img {
  height: 450px;
  background: url(../assets/mask+hair.jpeg) no-repeat center / cover;
  border-radius: 40px;
  border: 0.03px solid rgb(94, 94, 94);
  transform: rotate(-3deg);
}

.reviews-feature-img:hover {
  border-radius: 500px / 500px;
}

footer {
  width: auto;
  margin-top: 20px;
}

.footer-box {
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  justify-content: center;
}

.footer-links {
  list-style: none;
  padding: 0px 25px;
  display: block;
  width: auto;
  gap: 20px;
  align-items: center;
  font-family: 'Didot';
}

.footer-links li {
  text-align: center;
}

.footer-links li a {
  display: inline-block;
}

.username-heading {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-links {
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-links li {
    padding: 10px;
  }
}

@media screen and (max-width: 600px) {
  .log-button {
    display: flex;
    justify-content: center;
  }
}
